<!DOCTYPE html>
<html>
<head>
	<title>Test Javascript</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=".\css\styleB.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
<div class="page-header">
<div class="row">
  <div class="col-sm-3 col-xs-3"> 
  	<img src="./images/logo1.jpg" alt="logo" style="width:150px;height:150px"> 
  </div>
  <div class="col-sm-7">
  	<ul  class="list-inline">	
			<li><a class="list-inline-item" href="./">Main</a></li>
			<li><a class="list-inline-item" href="./menu">Menu</a></li>
			<li><a class="list-inline-item" href="./special.html">Special</a></li>
			<li><a class="list-inline-item" href="./signup.html">Sign up</a></li>
			<li><a class="list-inline-item" href="./about.html">About</a></li>
		
	</ul>
   </div>
   <div class="col-sm-2">
		<a href="./cart">
			<img src="./images/cart.png" alt="cart" style="width:60px;height:60px;">
				 <span class="badge" id="numItems">0</span></a>	
   </div>
 
  </div>
		

		{{{body}}}
		
		<footer >
    <div class="list-inline">
		<img src="./images/logo1.jpg" alt="logo" height="100" width="100">
		<a class="list-inline-item" href="./service.html">Customer Service</a>
		<a class="list-inline-item"href="./account.html">Account</a>
		<a class="list-inline-item"href="./special.html">Special</a>
		<a class="list-inline-item"href="./signup.html">Sign Up</a>
	</div>
		<div class="row">
		<div class="col-sm-3">
		<p>Lorem ipsum Sit amet adipisicing dolor non anim voluptate cillum dolor eu eu ad irure.</p>
		</div>
		<div class="col-sm-3">
			<p>Lorem ipsum Sit amet adipisicing dolor non anim voluptate cillum dolor eu eu ad irure.</p>
		</div>
		<div class="col-sm-3">
			<p>Lorem ipsum Sit amet adipisicing dolor non anim voluptate cillum dolor eu eu ad irure.</p>
		</div>
		<div class="col-sm-3">
			<p id="items">items</p>
		</div>
		</div>
	</footer>
<script type="text/javascript" src="./js/funcs.js"></script>
<script type="text/javascript">

generateMenuNum();
</script>


	</body>
	</html>